h1 {
    color: purple;
}

header, footer{
    background-color: plum;
}

body{
    background-color: bisque;
}

h2{
    color: rgb(194, 64, 194);
    font-weight: bolder;
}

h3{
    color: rgb(214, 167, 227);
}

a{
    color: blueviolet;
}